<div class="fixed-bottom border-top bg-light">
<div class="container py-4">
  <div class="row gy-4 text-center">
    <div class="col-12 col-sm-4">
      <span class="bg-primary bg-gradient p-1 rounded-3 text-light">Bruno</span>
      Picolo
    </div>
    <div class="col-12 col-sm-4">
      <a class="btn btn-link p-0" href="#">LEGAL NOTICE</a>
    </div>
    <div class="col-12 col-sm-4">
      <ul class="list-inline">
        <li class="list-inline-item">
          <bi name="linkedin" (click)="redirectTo('linkedin')"></bi>
        </li>
        <li class="list-inline-item">
          <bi name="github" (click)="redirectTo('github')"></bi>
        </li>
        <li class="list-inline-item">
          <bi name="facebook" (click)="redirectTo('facebook')"></bi>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
