<header>
  <app-nav-bar></app-nav-bar>
</header>
<main>
  <router-outlet></router-outlet>
</main> <!-- end of main -->
<footer>
 <app-footer></app-footer>
</footer> <!-- end of footer -->
<!--<section id="projects">-->
<!--  <div class="container py-5">-->
<!--    <p class="h2 fw-bold">My portfolio</p>-->
<!--    <p class="h4 fw-light">Personal and professional projects</p>-->

<!--    <div class="row gy-4 mt-4">-->
<!--      <div class="col-12 col-sm-6 col-md-4 col-lg-3">-->
<!--        <div class="card">-->
<!--          <img src="assets/img/profile-photo.jfif" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#"-->
<!--               class="btn btn-primary"-->
<!--               data-bs-toggle="offcanvas"-->
<!--               data-bs-target="#project1Info">-->
<!--              Go somewhere-->
<!--            </a>-->
<!--            <div class="offcanvas offcanvas-bottom h-100"-->
<!--                 tabindex="-1"-->
<!--                 id="project1Info"-->
<!--                 aria-labelledby="project1Info">-->
<!--              <div class="offcanvas-header">-->
<!--                <h5 class="offcanvas-title" id="project1Title">Project 1</h5>-->
<!--                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
<!--              </div>-->
<!--              <div class="offcanvas-body">-->
<!--                <div id="carouselProject1"-->
<!--                     class="carousel slide shadow h-100"-->
<!--                     data-bs-ride="carousel"-->
<!--                     data-bs-touch="true">-->
<!--                  <div class="carousel-inner h-100">-->
<!--                    <div class="carousel-item h-100 active" data-bs-interval="2000">-->
<!--                      <img src="https://picsum.photos/1920/1080?random=1"-->
<!--                           class="d-block w-100"-->
<!--                           alt="Image slide 1">-->
<!--                      <div class="carousel-caption d-none d-md-block">-->
<!--                        <h5>Slide 1</h5>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectur adipscing elit. Fusce solicitudin.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="carousel-item h-100 active" data-bs-interval="2000">-->
<!--                      <img src="https://picsum.photos/1920/1080?random=1"-->
<!--                           class="d-block w-100"-->
<!--                           alt="Image slide 2">-->
<!--                      <div class="carousel-caption d-none d-md-block">-->
<!--                        <h5>Slide 2</h5>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectur adipscing elit. Fusce solicitudin.</p>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                  </div>-->
<!--                  <button class="carousel-control-prev"-->
<!--                          type="button"-->
<!--                          data-bs-target="#carouselProject1"-->
<!--                          data-bs-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Previous</span>-->
<!--                  </button>-->
<!--                  <button class="carousel-control-next"-->
<!--                          type="button"-->
<!--                          data-bs-target="#carouselProject1"-->
<!--                          data-bs-slide="next">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Next</span>-->
<!--                  </button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-12 col-sm-6 col-md-4 col-lg-3">-->
<!--        <div class="card">-->
<!--          <img src="assets/img/profile-photo.jfif" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-12 col-sm-6 col-md-4 col-lg-3">-->
<!--        <div class="card">-->
<!--          <img src="assets/img/profile-photo.jfif" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-12 col-sm-6 col-md-4 col-lg-3">-->
<!--        <div class="card">-->
<!--          <img src="assets/img/profile-photo.jfif" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section> &lt;!&ndash; end of the projects section &ndash;&gt;-->
<!--<section id="contact">-->
<!--  <div class="container bg-light">-->
<!--    <div class="row py-4">-->
<!--      <div class="col-12">-->
<!--        <p class="h2 fw-bold">Have a web design project in mind?</p>-->
<!--        <p class="h4 fw-light">Let's discuss it over a coffee!</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row gy-4">-->
<!--      <div class="col-12 col-md-6 pe-4">-->
<!--        <img class="w-100 rounded-3" src="https://picsum.photos/1920/1080?random=1" alt="">-->
<!--      </div>-->
<!--      <div class="col-12 col-md-6">-->
<!--        <form action="" class="row gy-4">-->
<!--          <div class="col-6">-->
<!--            <label for="firstNameFormControlInput" class="form-label fw-bold">First name</label>-->
<!--            <input type="text" id="firstNameFormControlInput" class="form-control">-->
<!--          </div>-->
<!--          <div class="col-6">-->
<!--            <label for="secondNameFormControlInput" class="form-label fw-bold">First name</label>-->
<!--            <input type="text" id="secondNameFormControlInput" class="form-control">-->
<!--          </div>-->
<!--          <div class="col-12">-->
<!--            <label for="emailFormControlInput" class="form-label fw-bold">Email</label>-->
<!--            <input type="email" id="emailFormControlInput" class="form-control">-->
<!--          </div>-->
<!--          <div class="col-12">-->
<!--            <label for="messageFormControlInput" class="form-label fw-bold">Email</label>-->
<!--            <textarea type="email" id="messageFormControlInput" class="form-control" rows="3"></textarea>-->
<!--          </div>-->
<!--          <div class="col-12">-->
<!--            <button type="submit" class="btn btn-primary w-100">Submit</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section> &lt;!&ndash; end of the contact section &ndash;&gt;-->
