<header>
  <app-nav-bar></app-nav-bar>
</header>
<main>
  <router-outlet></router-outlet>
</main> <!-- end of main -->
<footer>
 <app-footer></app-footer>
</footer> <!-- end of footer -->
<!--<section id="contact">-->
<!--  <div class="container bg-light">-->
<!--    <div class="row py-4">-->
<!--      <div class="col-12">-->
<!--        <p class="h2 fw-bold">Have a web design project in mind?</p>-->
<!--        <p class="h4 fw-light">Let's discuss it over a coffee!</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row gy-4">-->
<!--      <div class="col-12 col-md-6 pe-4">-->
<!--        <img class="w-100 rounded-3" src="https://picsum.photos/1920/1080?random=1" alt="">-->
<!--      </div>-->
<!--      <div class="col-12 col-md-6">-->
<!--        <form action="" class="row gy-4">-->
<!--          <div class="col-6">-->
<!--            <label for="firstNameFormControlInput" class="form-label fw-bold">First name</label>-->
<!--            <input type="text" id="firstNameFormControlInput" class="form-control">-->
<!--          </div>-->
<!--          <div class="col-6">-->
<!--            <label for="secondNameFormControlInput" class="form-label fw-bold">First name</label>-->
<!--            <input type="text" id="secondNameFormControlInput" class="form-control">-->
<!--          </div>-->
<!--          <div class="col-12">-->
<!--            <label for="emailFormControlInput" class="form-label fw-bold">Email</label>-->
<!--            <input type="email" id="emailFormControlInput" class="form-control">-->
<!--          </div>-->
<!--          <div class="col-12">-->
<!--            <label for="messageFormControlInput" class="form-label fw-bold">Email</label>-->
<!--            <textarea type="email" id="messageFormControlInput" class="form-control" rows="3"></textarea>-->
<!--          </div>-->
<!--          <div class="col-12">-->
<!--            <button type="submit" class="btn btn-primary w-100">Submit</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section> &lt;!&ndash; end of the contact section &ndash;&gt;-->
