<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a [routerLink]="['/about']"
       class="test-brand navbar-brand text-uppercase fw-bold">
      <span class="bg-primary bg-gradient p-1 rounded-3 text-light">Bruno</span>
      Picolo
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a
            [routerLink]="['/about']"
            class="test-about nav-link"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >About me</a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/skills']"
            class="test-skills nav-link"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >Skills</a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/projects']"
            class="test-projects nav-link"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >Projects</a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/contact']"
            class="test-contact nav-link"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
