/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Avoids footer overlapping the main content */
body {
  padding-bottom: 70px;
}

@media only screen and (max-width: 600px) {
  body {
    padding-bottom: 120px;
  }
}

/* Set default width to bootstrap icons */
bi {
  width: 25px;
}
